<div class="comment-form">
  <div class="comment-form__inner">
    <%= form_with model: comment, url: [shoe, comment], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :body, class: 'comment-form__title' %>
      <%= f.text_area :body, class: 'comment-form__text-area', id: 'js-new-comment-body', row: 4, placeholder: Comment.human_attribute_name(:body) %>
      <%= f.submit t('defaults.post'), class: 'comment-form__btn' %>
    <% end %>
  </div>
</div>