<% content_for(:title, t('.title')) %>
<div class="registration">
  <div class="registration__inner">
    <h2 class="registration__title"><%= t '.title' %></h2>
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="registration__form">
          <ul class="registration__form-list">
            <li class="registration__form-item">
              <%= f.label :name, class: 'registration__form-title' %>
              <%= f.text_field :name, class: 'registration__text-box' %>
            </li>
            <li class="registration__form-item">
              <%= f.label :email, class: 'registration__form-title' %>
              <%= f.email_field :email, class: 'registration__text-box' %>
            </li>
            <li class="registration__form-item">
              <%= f.label :password, class: 'registration__form-title' %>
              <%= f.password_field :password, class: 'registration__text-box' %>
            </li>
            <li class="registration__form-item">
              <%= f.label :password_confirmation, class: 'registration__form-title' %>
              <%= f.password_field :password_confirmation, class: 'registration__text-box' %>
            </li>
          </ul>
          <%= f.submit (t 'defaults.register'), class: 'registration__btn' %>
        </div>
      <% end %>
      <div class='registration__link'>
        <%= link_to (t '.to_login_page'), login_path %>
      </div>
  </div>
</div>