<div class="shoe">
  <div id="shoe-id-<%= shoe.id %>">
    <div class="shoe__card">
      <a href=<%= shoe.url %> target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"  ><img src=<%= shoe.img_url %> border="0" style="margin:2px" alt="" title=""></a>
        <div class="shoe__card-causion">
          ※上記画像をクリックすると<br>楽天商品ページへと移動します
        </div>
      <div class="shoe__card-title">
        <%= shoe.name %>
      </div>
      <div class="shoe__card-btn">
        <%= button_to '詳細画面へ', '#', class: "shoe__card-link" %>
      </div>
    </div>
  </div>
</div>
