<div class="login">
  <div class="login__inner">
    <h2 class="login__title"><%= t '.title' %></h2>
      <%= form_with url: login_path, local: true do |f| %>
        <div class="login__form">
          <ul class="login__form-list">
            <li class="login__form-item">
              <%= f.label :email, User.human_attribute_name(:email), class: 'login__form-title' %>
              <%= f.email_field :email, class: 'login__text-box' %>
            </li>
            <li class="login__form-item">
              <%= f.label :password, User.human_attribute_name(:password), class: 'login__form-title' %>
              <%= f.password_field :password, class: 'login__text-box' %>
            </li>
          </ul>
          <%= f.submit (t 'defaults.login'), class: 'login__btn' %>
        </div>
      <% end %>
      <div class='login__user-page'>
        <%= link_to (t '.to_register_page'), new_user_path %>
      </div>
      <div class='login__forgot-password'>
        <a href="#"><%= t '.password_forget' %></a>
      </div>
  </div>
</div>